<template>
  <b-container class="p-5 m-5">
    <b-row align-h="between">
      <b-col cols="8">
        <h1>{{title}}</h1>
      </b-col>
      <b-col cols="4" sm="3">
          <nuxt-link to="/#samples">
          <font-awesome-icon icon="arrow-circle-left" style="font-size: 30px"/>
          </nuxt-link>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="4">
        <b-img
          v-if="imgSrc"
          :src="'https:' + imgSrc"
          fluid
          alt="Responsive image"
        />
      </b-col>
      <b-col cols="6">
        <b-btn size="lg" variant="primary" v-if="playUrl" v-on:click="open(playUrl)">遊ぶ</b-btn>
      </b-col>
    </b-row>
    <div class="mt-5" v-html="$md.render(text)"></div>
  </b-container>
</template>

<script>
import { createClient } from "~/plugins/contentful.js";
const client = createClient();
export default {
  head(){
    return {
      title: `${this.title}`,
      meta: [
        { hid: 'description', name: 'description', content: `${this.title}` },
      ]
    }
  },    
  asyncData(context) {
    return client
      .getEntry(context.params.id)
      .then(entry => {
        var e = {...entry.fields}
        var src = e.screenCapture ? e.screenCapture.fields.file.url : null
        return {
          title: e.title,
          text: e.text,
          playUrl: e.playUrl,
          imgSrc: src,
        };
      })
      .catch(console.error);
  }, 
  methods : {
    open(url){
      window.open(url)
    }
  }
};
</script>

<style>
pre {
  background-color: #eeeeee;
}
</style>
