<template>
  <div class="container mt-5">
    <h1>Sample</h1>
  </div>
</template>

<script>
export default {
  head(){
    return {
      title: '書籍サンプル',
      meta: [
        { hid: 'description', name: 'description', content: '書籍に掲載されているサンプルです' },
      ]
    }
  },
  asyncData({params}, callback) {
    callback(null, {})
  }
};
</script>