<template>
  <div id="access">
    <no-ssr>
      <div id="map" style="width: 100%; height: 500px"></div>
      <script>
  var map = null;
  function initMap() {
    if (map == null) {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 35.5646325, lng: 139.6562085 },
        zoom: 18
      });
      marker = new google.maps.Marker({
        // マーカーの追加
        position: { lat: 35.5646325, lng: 139.6562085 },
        map: map
      });
    }
  }
      </script>
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkLLcUhNKFep8VLfJ1XjP4UuewEURac5w&callback=initMap"
        async
        defer
      ></script>
    </no-ssr>
  </div>
</template>

