<template>
  <b-container id="blog">
    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">ブログ</span>
      </b-col>
      <b-col cols="12" class="text-center text-warning">技術的なこと・教室運営など徒然に</b-col>
    </b-row>

    <b-card-group>

      <b-card v-for="b in myblogs" :key="b.id" hover 
        class="m-2 d-block shadow"
        style="max-width: 300px; min-width:300px;"
      >
      <b-card-body>
        <b-link :to="/blog/ + b.id" aria-label="blogpost">
        <h6 slot="header" class="mb-0">
          <small class="text-muted" slot="footer">
            <span>{{b.date}}</span>
          </small>
        </h6>
        <b-row no-gutters>
          <b-col cols="4" v-if="b.imgSrc">
            <no-ssr>
            <b-card-img v-lazy="b.imgSrc" decoding="async" alt="blog-logo"/>
            </no-ssr>
          </b-col>
          <b-col :cols="b.imgSrc ? 8 : 12">
            <b-card-body>
              <b-row align-v="start">
                <b-col>{{b.title}}</b-col>
              </b-row>
            </b-card-body>
          </b-col>
        </b-row>
        </b-link>
      </b-card-body>

      </b-card>

    </b-card-group>

    <b-row align-h="center" class="mt-4">
      <b-col cols="12" sm="6">
        <nuxt-link to="/blog" class="btn btn-warning btn-block text-white" aria-label="blogpost">もっと見る</nuxt-link>
      </b-col>
    </b-row>    
  </b-container>

</template>

<script>
export default {
  props: ["blogs"],
  data() {
    return {
      myblogs: this.blogs,
    };
  }
};
</script>


<style scoped>
div.card-body {
  padding: 0.25rem;
}
div.card:hover {
  background-color:#ddd;
}
a[href] {text-decoration: none;}
</style>
