<template>
  <b-container id="download">
    <b-row class="text-center mt-5 mx-auto">
      <b-col cols="12" class="h2">
        <span class="category">ダウンロード・講師書籍</span>
      </b-col>
      <b-col cols="12" class="text-center text-warning">講師による著書一覧</b-col>
    </b-row>

    <b-card-group class="mb-3">
      <b-row>
        <b-card
          class="m-2"
          style="min-width: 8rem; max-width: 8rem;"
          v-for="book in mybooks"
          :key="book.id"
        >
          <no-ssr>
            <img
              class="img-fluid"
              v-lazy="'https:' + book.coverImage.file.url"
              :alt="book.coverImage.title"
              decoding="async"
            />
          </no-ssr>

          <b-row class="text-center">
            <b-col cols="12" class="no-padding">
              <a :href="book.amazonUrl">Amazon</a>
            </b-col>
            <b-col cols="12" class="no-padding">
              <small class="text-muted">{{book.publicationDate.substring(0, 10)}}</small>
            </b-col>
          </b-row>
          <b-btn
            variant="warning"
            style="width:100%"
            v-if="book.downloadUrl"
            :href="book.downloadUrl"
            aria-label="sample"
          >
            <font-awesome-icon class="chevron" icon="file-download" />
          </b-btn>
        </b-card>
      </b-row>
    </b-card-group>

    <b-row class="text-center mt-5 mb-3 mx-auto">
      <b-col cols="12" class="text-center text-warning">
        生徒さんのご要望に応じて教材を作成してきました。
        必要に応じて市販の技術書も使用しています。
      </b-col>
    </b-row>
    <b-row class="justify-content-center mb-5">
      <img src="images/text-map.jpg" class="img-fluid rounded shadow" alt="text-map" />
    </b-row>

  </b-container>
</template>

<script>
export default {
  props: ["books"],
  data() {
    return {
      mybooks: this.books
    };
  }
};
</script>

<style scoped>
img.card-img-top {
  transition: transform 0.2s;
}
img.card-img-top:hover {
  transform: scale(1.03);
}
div.no-padding {
  padding: 0;
}
div.card-header {
  padding: 0 0.5rem;
}
div.card-body {
  padding: 0;
}
</style>

