<template>
  <b-container id="my-carousel" fluid class="mt-4">
    <b-carousel
      style="text-shadow: 2px 2px 4px #333;"
      controls
      indicators
      :interval="6000"
      img-width="1024"
      img-height="256"
    >
      <!-- Text slides with image -->
      <b-carousel-slide img-src="/images/slider2.jpg" img-alt="slider2">
        <div class="h1"><span>Future Coders</span> へようこそ</div>
        <div class="h4">川崎市（元住吉・武蔵小杉）のプログラミングスクール</div>
      </b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="/images/slider1.jpg" img-alt="slider1">
        <div class="h1"><span>幅広いレベル</span>に対応できます</div>
        <div class="h4">Scratch・マイクラから本格テキスト言語まで</div>      
      </b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="/images/slider0.jpg" img-alt="slider0">
        <div class="h1"><span>無料体験授業</span>受付中</div>
        <div class="h4">楽しいだけで終わるスクールではありません</div>      
      </b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="/images/slider1.jpg" img-alt="slider1">
        <div class="h1"><span>オンライン授業</span>にも対応！</div>
        <div class="h4">少人数個別指導性で安心して受講できます</div>      
      </b-carousel-slide>
    </b-carousel>
  </b-container>
</template>

<style scoped>
#my-carousel {
  padding: 0;
}
#my-carousel div.h1 {
  font-size:5vw;
}
#my-carousel div.h4 {
  font-size:2.5vw;
}
#my-carousel span {
  color: yellow;
}
</style>
