<template>
  <b-container id="contact">
    <b-row class="mt-5">
      <b-col cols="12" class="h2 text-center ">
        <span class="category">お問合せ</span>
      </b-col>
      <b-col cols="12" class="text-warning">
       <!-- 無料体験授業は随時受け付けしておりますが、
       現在ほぼ定員に達しているため、受講を開始するまでしばらくお待ちいただくことがあります。その旨ご了承ください。  -->
       その他のご質問などお気軽にお問い合わせください。
      </b-col>
    </b-row>    
    <div>
      <form netlify action="thank-you" name="contact" method="POST" data-netlify="true">
        <input type="hidden" name="form-name" value="contact" />
        <b-card bg-variant="light">
          <b-row>
            <b-col cols="12" sm="6">
              <b-form-group label-cols-sm="3" label="氏名(*):" label-align-sm="right" label-for="name">
                <b-form-input name="name" type="text" id="name"/>
              </b-form-group>
            </b-col>
            <b-col cols="12" sm="6">
              <b-form-group label-cols-sm="3" label="メール(*):" label-align-sm="right" label-for="mail">
                <b-form-input name="mail" type="email" id="mail"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" sm="6">
              <b-form-group label-cols-sm="3" label="年齢:" label-align-sm="right" label-for="age">
                <b-form-input name="age" type="number" id="age"/>
              </b-form-group>
            </b-col>
            <b-col cols="12" sm="6">
              <b-form-group
                label-cols-sm="3"
                label="お問合せ:"
                label-align-sm="right"
                label-for="content"                
              >
                <b-form-select name="content" id="content">
                  <option name="体験授業">体験授業</option>
                  <option name="入会希望">入会希望</option>
                  <option name="その他">その他</option>
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="12" sm="12">
              <b-form-group
                label-cols-sm="3"
                label="コメント:"
                label-align-sm="right"
                label-for="comment"
              >
                <b-form-textarea name="comment" id="comment"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="justify-content-center">
            <b-col cols="5">
              <button type="submit" class="btn btn-block bg-warning btn-secondary">送信</button>
            </b-col>
          </b-row>

        </b-card>
      </form>
    </div>
  </b-container>
</template>

