<template>
  <b-container id="course">
    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">コース</span>
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12" md="6">
        <div class="card bg-light d-block" data-aos="fade-left">
          <img v-lazy="'/images/lesson0.jpg'" class="img-fluid card-img-top" alt="lesson0">
          <div class="card-body" style="min-height:300px;">
            <div class="card-title p-4 bg-warning text-center">
              <a href="https://futurecoders.wixsite.com/fckids" aria-label="fckids">ジュニアコース（小学生～中高生）</a>
            </div>
            <div class="card-text">プログラミング的発想をはぐくみます</div>
            <ul>
              <li>Scratch</li>
              <li>Minecraft(コマンド、レッドストーン、makecode、mod/プラグイン開発)</li>
              <li>micro:bit</li>
              <li>テキスト言語入門（Processing、HTML/CSS、Java、Arduino、、、)</li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="row justify-content-between">
              <b-col cols="2">
                <img v-lazy="'images/teacher1.jpg'" class="rounded-circle" alt="sawada">
              </b-col>
              <b-col cols="6" class="align-self-center">主講師：澤田 千代子</b-col>
              <div cols="2" class="col-2 mr-3 d-flex bg-warning text-white align-self-stretch">
                <a href="https://futurecoders.wixsite.com/fckids" aria-label="fckids">
                  <div class="align-self-center">
                    <font-awesome-icon class="chevron" icon="chevron-right"/>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </b-col>

      <b-col cols="12" md="6">
        <div class="card bg-light d-block" data-aos="fade-left">
          <img v-lazy="'/images/lesson1.jpg'" class="img-fluid card-img-top" alt="lesson1">
          <div class="card-body" style="min-height:300px;">
            <div class="card-title p-4 bg-primary text-center">
              <nuxt-link to="/course-senior" aria-label="senior">シニアコース（中高生～社会人）</nuxt-link>
            </div>
            <div class="card-text">現場で通用する実践力を身につけます</div>
            <ul>
              <li>Processing (Java/Python)</li>
              <li>Webアプリ・クラウド開発</li>
              <li>HTML/CSS/JavaScript</li>
              <li>WordPress</li>
              <li>C#/Unity</li>
              <li>Raspberry PI</li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="row justify-content-between">
              <b-col cols="2">
                <img v-lazy="'images/teacher0.jpg'" class="rounded-circle" alt="tanaka">
              </b-col>
              <b-col cols="6" class="align-self-center">主講師：田中 賢一郎</b-col>
              <div cols="2" class="col-2 mr-3 d-flex bg-primary text-white align-self-stretch">
                <nuxt-link to="/course-senior" aria-label="senior">
                <div class="align-self-center">
                  <font-awesome-icon class="chevron" icon="chevron-right"/>
                </div>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<style scoped>
.card-body {
  color: rgb(165, 165, 165);
}
.card-title a {
  font-size: 22px;
  color: black;
}
div a[href] {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.theme-backcolor {
  background-color: rgb(255, 182, 6);
  color: white;
}
.chevron {
  font-size: 32px;
}
.card-footer {
  font-size: 16px;
  padding: 0;
}
</style>
