<template>
<div class="py-5 bg-dark">
  <b-container id="faq">

    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category text-white">よくある質問</span>
      </b-col>
    </b-row>    

    <div role="tablist">
      <b-card no-body class="mb-1" v-for="(item, index) in faq" :key="index">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle="'accordion-' + index" variant="bg-light">{{item.q}}</b-btn>
        </b-card-header>
        <b-collapse :id="'accordion-'+index" visible accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              {{item.a}}
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>

    </div>
  </b-container>
</div>

</template>

<script>
export default {
  data() {
    return {
      faq : [
        {q:'初心者でも大丈夫ですか？', a:'もちろんです。プログラミング経験皆無の小学生から、これからプログラミングを始める社会人まで、幅広い方に通学頂いています。同じレベルでもバリエーションを加えながらいろいろなトピックを用意します。'},
        {q:'プログラミングは独習できるのでは？', a:'確かにプログラミングを独習でマスターする方もいらっしゃいます。しかし、第三者の客観的な指導のもとで学習すると、自分が見えない箇所が見えたり、学習効率が高まったりする効果が期待できます。そんなお手伝いをさせて頂きます。'},
        {q:'年齢制限はありますか？', a:'年齢制限はありません。小学校1年生～60代の社会人まで通学頂いています。'},
        {q:'体験入学はできますか？', a:'プログラミングの体験授業を随時受け付けていますので、お気軽にお問い合わせください（info@future-coders.net）。'},
        {q:'パソコンの持ち込みは必須ですか？', a:'パソコンは必須ではありませんが、使い慣れたものがあればお持ちください。スクールにもあるので手ぶらでも大丈夫です。 ただし、好奇心だけは忘れずにお持ちください。'},
        {q:'レッスンの振り替えはできますか？', a:'ご都合が悪くなった場合は、当月中に空き枠があった時に振替をさせて頂いております。月をまたいでの振替はしておりませんのでご了承ください'},
        {q:'お月謝の支払方法は？', a:'Comiruという外部サービスを利用しています。クレジットカードでの支払いとなります。'},
      ]
    }
  }
  
}
</script>
