<template>
  <b-container id="blog" class="mb-5">
    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">よくある質問ボット</span>
      </b-col>
      <b-col cols="12" class="text-center text-warning">
        MicrosoftのQnAフレームワークを使って"よくある質問"ボットを作ってみました。
      </b-col>
    </b-row>
    <b-row>
      <iframe src='https://webchat.botframework.com/embed/future-coders-qna-bot?s=fitEKqRmBH4.ON3eRbYyU5EVd-cERnGIFYjW46zBtsYOaqcWwFlEAgA' 
        style='min-width: 400px; width: 100%; min-height: 300px;'></iframe>
    </b-row>
  </b-container>
</template>

