<template>
  <div class="my-5 bg-dark text-white">
    <b-container id="greeting">
    <b-row>
        <div></div>
      </b-row>
      <b-row class="text-center mt-5">
        <b-col cols="12" class="h2">
          <span class="category">ご挨拶</span>
        </b-col>
      </b-row>
      <b-row class="mb-5">
        <b-col cols="12">2017年に教室をはじめてからはやいもので３年以上が経過しました。今では５０名以上の生徒様に受講いただいていること大変感謝しています。</b-col>
      </b-row>

    </b-container>
  </div>
</template>

