<template>
  <b-container fluid class="p-5 bg-dark text-secondary">
    <b-row>
      <b-col cols="12">
        <b-img src="/images/logo.png" style="height:60px" alt="logo"/>
        <span class="logo text-white">FUTURE CODERS</span>
      </b-col>
    </b-row>
    <b-row class="divider">
      <b-col cols="12" md="6"><font-awesome-icon class="text-warning" icon="map-marker-alt"/> 211-0025 神奈川県川崎市 中原区木月 ２丁目１８−３</b-col>
      <b-col cols="12" md="3"><font-awesome-icon class="text-warning" icon="phone"/> 044-385-2386</b-col>
      <b-col cols="12" md="3"><font-awesome-icon class="text-warning" icon="envelope"/> info@future-coders.net</b-col>
    </b-row>
    <b-row>
      <b-col>
      Copyright 2019 Future Coders. All Rights Reserved.
      </b-col>
    </b-row>
  </b-container>
</template>
<style scoped>
.divider {
  border-bottom: #555 solid 2px; margin:20px 20px 20px 20px;
}
</style>

