<template>
  <b-container id="samples">
    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">書籍掲載サンプル</span>
      </b-col>
      <b-col cols="12" class="text-center text-warning">書籍掲載サンプルの一部です</b-col>
    </b-row>

    <b-card-group deck class="mb-3">
      <b-row>
        <b-card
          class="mt-4 d-block"
          style="min-width: 8rem; max-width: 8rem;"
          data-aos="fade-up"
          v-for="sample in mysamples"
          :header="sample.title"
          :key="sample.title"
        >
        <b-card-body>
          <b-link :to="'/sample/' + sample.id" aria-label="sample">
            <img
              class="img-fluid"
              v-lazy="'https:' + sample.screenCapture.fields.file.url"
              :alt="sample.title"
              decoding="async"
            />
          </b-link>
        </b-card-body>
        </b-card>
      </b-row>
    </b-card-group>
  </b-container>
</template>

<script>
export default {
  props: ["samples"],
  data() {
    return {
      mysamples: this.samples
    };
  }
};
</script>

<style scoped>
div.card-body {
  padding: 0;
}
div.card:hover {
  background-color:#ddd;
}
</style>
