<template>
  <div class="my-5 bg-dark">
    <b-container id="studentwork">
      <b-row>
        <div></div>
      </b-row>
      <b-row class="text-center mt-5">
        <b-col cols="12" class="h2">
          <span class="category text-white">生徒様作品・受賞など</span>
        </b-col>
        <b-col cols="12" class="text-center text-warning">受賞・合格などの一部</b-col>
      </b-row>
      <b-card-group>
        <b-card
          border-variant="success"
          header="中学3年F君"
          align="center"
          header-bg-variant="primary"
          header-text-variant="white"
        >
          <div class="text-left">中3の春休みにITパスポートに合格しました。</div>
        </b-card>
        <b-card
          border-variant="success"
          header="高校1年T君"
          align="center"
          header-bg-variant="primary"
          header-text-variant="white"
        >
          <div class="text-left">
            高校1年春に基本情報技術者試験に合格しました。
          </div>
        </b-card>

        <b-card
          border-variant="success"
          header="公認会計士 小松さん"
          align="center"
          header-bg-variant="primary"
          header-text-variant="white"
        >
          <div class="text-left">
            NUXTを使ってインタラクティブな簿記学習ページを作成しました。
            <a href="https://app.eurekapu.com/">Eurekapu</a>をご覧ください。
            Vue.jsを駆使しているだけでなく、コンテンツ内容もとても充実しています。
          </div>
        </b-card>
      </b-card-group>

      <b-card-group>
        <b-card
          border-variant="success"
          header="小学校4年O君"
          align="center"
          header-bg-variant="warning"
          header-text-variant="white"
        >
          NHKワイワイプログラミング Why大喜利9月のお題「自分だけの植物を作ろう！」入賞<br />
          <a
            href="https://www.nhk.or.jp/school/programming/oogiri/works_36.html"
          >
            <b-img
              src="/images/works/work1.jpg"
              style="height: 80px"
              alt="logo"
            />
          </a>
        </b-card>
        <b-card
          border-variant="success"
          header="大学1年O君"
          align="center"
          header-bg-variant="primary"
          header-text-variant="white"
        >
          <div class="text-left">
            インターンのテストにパスして、希望する企業でインターンを開始しました。
          </div>
        </b-card>

        <b-card
          border-variant="success"
          header="小学3年H君"
          align="center"
          body-class=""
          header-bg-variant="warning"
          header-text-variant="white"
        >
          <div class="text-left">LINE-ENTRY　第1次予選通貨</div>
        </b-card>

        <b-card
          border-variant="success"
          header="小学4年T君"
          align="center"
          header-bg-variant="warning"
          header-text-variant="white"
        >
          <div class="text-left">Scratch検定ゴールド一発合格</div>
        </b-card>
      </b-card-group>
      <br /><br />
    </b-container>
  </div>
</template>

<script>
export default {};
</script>
