<template>
  <div class="py-5 bg-dark">
    <b-container>
      <b-row>
        <div></div>
      </b-row>
      <b-row class="text-center mt-5">
        <b-col cols="12" class="h2">
          <span class="category text-white">講師</span>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" md="6">
          <b-card data-aos="fade-right" class="text-black">
            <h4 slot="header" class="text-center">田中賢一郎</h4>
            <b-card-body>慶応大学理工学部卒業・修了。キヤノン㈱情報メディア研究所を経て、2000年にデジタル放送立ち上げの会社に出向。その間にデータ放送ブラウザを単独で開発し、マイクロソフト本社(U.S.)にソースコードライセンスする。2008年からマイクロソフトへ。MSではMedia Center、Windows、Xbox、Office 365などの製品開発・マネージ・サポートに携わる。2016年に中小企業診断士登録。1年間専門学校でIT教育の実践経験を積み、2017年にFuture Codersを起業。2017年10月よりキヤノン電子顧問、TOEIC920点、趣味はジャズピアノ演奏。</b-card-body>
          </b-card>
        </b-col>
        <b-col cols="12" md="6">
          <b-card data-aos="fade-left">
            <h4 slot="header" class="text-center">澤田千代子</h4>
            <b-card-body>上智大学卒。日本IBMに入社し、企業研修部門にてJava講師などをつとめた後、外資ベンダー等でソフトウェアエンジニアリング・研究開発などに従事。 その後、フリーに転身。プログラミングスクールの立ち上げ等に参加。慶応義塾大学SFC研究所所員（プログラミング教育専攻）。マイクロソフト認定教育イノベーター。「コンピューターがみんなのものなるように(Computer Science for ALL)」をライフワークとし、2020年のプログラミング教育必修化に向け、グローバルスタンダードであるComputer Science教育の重要性を普及活動中。 コンピューターを「学ぶ」ツールとしてのMinecraftをこよなく愛す。うさぎ（ネザーランドドワーフ）も溺愛中。趣味IT、特技IT。</b-card-body>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="mt-3">        
        <b-col cols="12" md="6">
          <b-card data-aos="fade-left">
            <h4 slot="header" class="text-center">馬場貴之</h4>
            <b-card-body>筑波大学大学院システム情報工学研究科修了。パイオニア株式会社に入社し、オーディオ機器の開発に従事。組込ソフトウェア開発をメインにネットワークオーディオ、スマホアプリ、webアプリなど多数の機器開発に携わる。転職後、ソフトウェア開発プロセス改善の啓蒙活動に携わり、プログラミング教育に興味を持つ。趣味はギター演奏・ロードバイク・園芸。MdN社、あなうめ式Python/Javaなどの著書あり。</b-card-body>
          </b-card>
        </b-col>
        <b-col cols="12" md="6">
          <b-card data-aos="fade-left">
            <h4 slot="header" class="text-center">松尾高明</h4>
            <b-card-body>
              東京デザインテクノロジーセンター専門学校　講師<br/>
              慶応大学卒。本田技術研究所で自動運転車用のデジカメ開発に従事。2013年より小中学生を中心にプログラミングを教えている。
              著書「みんな大好きマインクラフトるんるんプログラミング」
            </b-card-body>
          </b-card>
        </b-col>          
      </b-row>    
    </b-container>
  </div>
</template>
