<template>
<no-ssr>
  <b-container fluid>
    <a-scene embedded>
      <a-sky src="/images/theta1.jpg" rotation="0 -130 0"></a-sky>
    </a-scene>
  </b-container>
</no-ssr>
</template>

<style scoped>
  #scene, a-scene {
    width: 100%;
    height: 400px;
  }
</style>


