<template>
  <b-container class="pt-5">
    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">スケジュール</span>
      </b-col>
    </b-row>
    <b-table dark class="text-white text-center" responsive :items="items"></b-table>
    <b-row class="justify-content-around">
      <b-col cols="3" class="bg-warning text-white text-center">ジュニアコース</b-col>
      <b-col cols="3" class="bg-primary text-white text-center">シニアコース</b-col>
    </b-row>
  </b-container>
</template>

<script>
const items = [
  {
    月: "",
    火: "",
    金: "",
    土1: "",
    土2: "10:30",
    日1: "",
    日2: "10:30",
    _cellVariants: {
      土2: "warning",
      日2: "warning"
    }
  },
    {
    月: "",
    火: "",
    金: "",
    土1: "12:00",
    土2: "12:00",
    日1: "12:00",
    日2: "12:00",
    _cellVariants: {
      土1: "primary",
      土2: "warning",
      日1: "primary",
      日2: "warning"
    }
  },
    {
    月: "",
    火: "",
    金: "17:30",
    土1: "14:00",
    土2: "14:00",
    日1: "14:00",
    日2: "14:00",
    _cellVariants: {
      金: "primary",
      土1: "primary",
      土2: "warning",
      日1: "primary",
      日2: "warning"
    }
  },  
  {
    月: "19:00",
    火: "19:00",
    金: "19:00",
    土1: "",
    土2: "16:00",
    日1: "",
    日2: "16:00",    
    _cellVariants: {
      月:"primary",
      火:"primary",
      金:"primary",
      土2: "warning",
      日2: "warning"
    }
  }
];
export default {
  data() {
    return {
      items: items
    };
  }
};
</script>

<style scoped>
/*
div.container-fluid {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
*/
</style>
