<template>
  <b-container class="mt-5">
    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">理念</span>
      </b-col>
    </b-row>
    <b-row class="align-items-center">
      <b-col cols="12" md="6">
        <img src="/images/about.jpg" alt="about" class="img-fluid">
      </b-col>
      <b-col cols="12" md="6" class="mt-4 text-black">
        <div class="h4">プログラミング教育を通して人々の可能性をひろげる</div>
        プログラミング教育が注目されています。
        初中等教育での必修化の動き、プログラミングでの入学試験など、
        学生でもプログラミングと接する機会が増えてきました。
        不安定な時代、堅実なスキルを身に着けたい社会人も多くいるはずです。
        趣味としてプログラミングに取り組みたい人もいるでしょう。
        そんな人たちが楽しくスキルを伸ばせるような場所を作りたい、そんな想いからFuture Codersを設立しました。
      </b-col>
    </b-row>
  </b-container>
</template>

