<template>
  <div class="my-5 bg-dark text-white">
    <b-container>
      <b-row>
        <div></div>
      </b-row>
      <b-row class="text-center mt-5">
        <b-col cols="12" class="h2">
          <span class="category text-white">生徒様の声</span>
        </b-col>
      </b-row>

      <b-row align-h="between">
        <b-col cols="12" sm="4">{{voice.name}} ({{voice.title}})</b-col>
        <b-col
          cols="12"
          sm="2"
          :class="{'bg-warning':isPrimary(voice.course), 
                   'bg-primary':!isPrimary(voice.course), 'text-center':true }"
        >{{voice.course}}</b-col>
      </b-row>
      <b-row>
        <b-col>
            <b-card-body :key="currentPage">
              {{text}}
            </b-card-body>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-pagination
            :limit="limit"
            :total-rows="totalRows"
            v-model="currentPage"
            :per-page="1"
            align="center"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
const voices = [
  { name: "", title: "", course: "", text: "" },
  {
    name: "小学生",
    title: "男子",
    course: "ジュニア",
    text:
      "小学1年生の息子がお世話になっております。体験授業は比較のためいくつかのプログラミング教室へ伺いましたが、質の高い学びが期待できると感じ、FCKidsを選びました。入会し半年経過しましたが、良い意味で“子供扱いしない”授業内容で、大変満足しております。"
  },
  {
    name: "会社員",
    title: "女性",
    course: "シニア",
    text:
      "まだ始めたばかりですが、本当に1人1人に対して親身に指導しておられる先生だと感じてます。受身に徹する詰め込み型ではないし、呼ぶまで先生に放置される独習型でもなく、適度に自分で考え、腑に落ちる回答も得られ、バランスが良くて、ここに決めて良かった！と思ってます。"
  },
  {
    name: "中学生",
    title: "男子",
    course: "ジュニア",
    text:
      "2017年の12月から通わせて頂いてる中学2年生の生徒です。教師である田中先生はとても良い人で分からない所があったら優しく教えてくれます。プログラミングが分からない方でも1から丁寧に教えてくれます。本当にここに通って良かったと思います。"
  },
  {
    name: "会社員",
    title: "30代男性",
    course: "シニア",
    text:
      "過去にrubyやpythonを学習した経験はありましたが、しっかり学び直したいと思い、Future Codersに入校しました。プログラミングスクールというと、カリキュラムが最初から決まっており、授業料は数十万円かかるところが一般的です。しかし、Future Codersは先生が一人一人の要望や進捗状況に合わせて柔軟に対応してくれるため、好きなことが学べる環境が整っています。授業料も月謝制のため、プログラミング学習をはじめやすく、また納得行くまで継続することができます。学生アルバイトがインスタラクターを担当しているスクールもありますが、Future Codersの先生は有名企業での実務経験が豊富で著書も出しているため、授業は分かりやすく、学習方法についても親身にアドバイスして貰えます。"
  },
  {
    name: "公認会計士",
    title: "30代男性",
    course: "シニア",
    text:
    "1か月に合計3回（各回は1.5時間）の中で、質問を中心にしたほぼマンツーマンの講義形式をとっています。わからないところを自分から聞いていくスタイルは効率的であり、いつも的確なアドバイスをもらっています。プログラムのコード自体が持つ「美しさ」をいつも田中先生の書くそれから感じることができます。"
  },
  {
    name: "慶応義塾高校",
    title: "高校生",
    course: "シニア",
    text: "僕はもともとプログラミングのことを全く知らずに、future codersに入りました。そのため初めて聞く言葉や概念に混乱することが多々ありますが、その度に分かりやすく教えてくださるため、習っていてとても楽しいです。また習っているプログラミングの勉強とは別に情報技術者試験の勉強をしているのですが、書いてある表現が難しくてどうしても理解出来ないことがあります。そういう時に気軽に質問出来る存在がいることがとてもありがたいです。ここに通う他の生徒さんにもいろいろなことをしている方がいらっしゃるので、田中先生を始めとした僕の知らない世界を知っている方々のお話を聞けることがとても貴重な経験になっています。"
  },
  {
    name: "会社員（メーカー）",
    title: "20代男性",
    course: "シニア",
    text: "「プログラミングを習得せずに大学を卒業してしまった」と後悔していました。この後悔は社会人になってからも消えず、もう一度プログラミングを学びたいと思いfuture codersに入会しました。「future coders」の会員としてのメリットを列挙します。1)月額定額性であるので何か月でも教室に通うことげできる、2)短期間で結果を求められないので仕事との両立がしやすい、3)MSやキャノンでプログラマーとして長年働き、数多くのプログラミングの著書を持つ田中先生から直接ノウハウを学ぶことができます。アルバイトの文系の大学生が教えるということは絶対にありません。"
  },
  {
    name: "会社員",
    title: "50代男性",
    course: "シニア", 
    text: "通い始めて1年と4ヵ月目になりました。プログラミング経験はほとんどありませんでしたが、月2回のレッスンを欠かさず受講して来ました。田中先生はレベルに合わせて理解できる言葉を選び、初歩的な質問にも丁寧に説明してくれますので、毎回少しずつですが理解が深まりました。"
  },
  {
    name: "小学生",
    title: "男子",
    course: "ジュニア",
    text: "マインクラフトを使ってプログラミングもするので、すごく楽しいです。"
  },
  {
    name: "会社員・自営",
    title: "30代男性",
    course: "シニア",
    text: "プログラミングに興味をもち、入門書を買ってみたり、都内のプログラミングスクール体験などを試してみましたが、全て挫折をしていた、30代文系の会社員です。「そもそも何を学べばいいのか？」いまいち分かっていない状態で、独習が進まず途方に暮れていたところ、FutureCodersに出会いました。そこからもう、1年間は通っているでしょうか。1)プログラミング＝勉強のイメージがなくなったこと, 2)各個人に合わせた学習スケジュールであること, 3)個別指導形式であること, 4)講師陣の質が高いこと=大切なことですが、皆さん人間味があって優しいです。講師陣の人柄にほれ込んで、地方から通う生徒もいるみたいです。"
  },
  {
    name: "慶応普通部",
    title: "中学2年生",
    course: "シニア",
    text: "ロボットを作ったりするプログラミング教室ではなく、コードを書くプログラミング教室です。最初は、いろいろな国の国旗をプログラムで描きました。授業は少人数で、先生も丁寧に教えてくれるので、初めてプログラミングをする人にもオススメです！"
  }
];

export default {
  data() {
    return {
      totalRows: voices.length - 1,
      currentPage: 1,
      text: voices[1].text,
      limit: 15
    };
  },
  computed: {
    voice: function() {
      this.text = voices[this.currentPage].text;
      return voices[this.currentPage];
    }
  },
  methods: {
    isPrimary: function(course) {
      return course == "ジュニア";
    },
    isWarning: function(course) {
      return course != "ジュニア";
    }
  }
};
</script>
