<template>
  <div>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3RB5XGW53M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3RB5XGW53M');
    </script>

    <b-navbar toggleable="md" class="fixed-top bg-light" id="navbar">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="/" class="mr-4">
        <b-img src="/images/logo.png" style="height:60px" alt="logo"/>
        <span class="logo">FUTURE CODERS</span>
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="nav-pills nav">
          <b-nav-item href="/#course">Course</b-nav-item>
          <b-nav-item href="/#contact">Contact</b-nav-item>
          <b-nav-item href="/#blog">Blog</b-nav-item>
          <b-nav-item href="/#download">Download</b-nav-item>
          <!-- <b-nav-item href="/#samples">Sample</b-nav-item> -->
          <b-nav-item href="/#faq">Faq</b-nav-item>
          <b-nav-item href="https://futurecoders.wixsite.com/fckids" aria-label="fckids">kids</b-nav-item>
          <b-nav-item href="/#access">Access</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
        <br><br>
    <nuxt/>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
  AOS.init();
    </script>
  </div>
</template>

<style>
#navbar {
  padding: 0 16px;
  border-bottom: solid 5px rgb(255, 182, 6);
}
html {
  scroll-behavior: smooth;
}
span.category {
  border-top: 3px solid rgb(255, 182, 6);
}
div.text {
  color: rgb(160, 160, 160);
  font-family: "Roboto";
}
.logo {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 900;
}
.page-enter-active {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.page-leave-active {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.page-enter {
  opacity: 0;
  transform: translate(100px, 0px);
}
.page-enter-to {
  opacity: 1;
}
.page-leave {
  opacity: 1;
}
.page-leave-to {
  opacity: 0;
  transform: translate(-100px, 0px);
}
</style>
