<template>
<b-container class="mt-5">
  <b-row>
    <b-col cols="12">
      <h1>{{title}}</h1>
      <h2>{{subTitle}}</h2>
    </b-col>
  </b-row>
  <b-row align-v="center" align-h="between">
    <b-col cols="12" sm="2">
      <img class="title" v-if="imgSrc" :src='imgSrc'/>
    </b-col>
    <b-col cols="12" sm="3">
      <b-button variant="warning" href="/blog">記事一覧へ</b-button>
    </b-col>
  </b-row>

  <div class="mt-5 blog" v-html="$md.render(content)"></div>

</b-container>
</template>

<script>
import { createClient } from "~/plugins/contentful.js";
const client = createClient();
export default {
  head(){
    return {
      title: `${this.title}`,
      meta: [
        { hid: 'description', name: 'description', content: `${this.title}` },
      ]
    }
  },  
  asyncData(context) {
    return client
      .getEntry(context.params.id)
      .then(entry => {
        var e = {...entry.fields}
        var src = e.coverPicture ? e.coverPicture.fields.file.url : null
        return {
          title: e.title,
          subTitle: e.subTitle,
          author: e.author,
          content: e.content,
          imgSrc: src,
        };
      })
      .catch(console.error);
  }
};
</script>

<style scoped>
pre {
  background-color: #eeeeee;
}
div.blog img {max-width:90%}
img.title {max-width:200px;}
</style>


