<template>
  <b-container class="mt-5">
    <!-- タグ選択 -->
    <b-form-group>
      <template slot="label">
        <b-form-checkbox
          v-model="allSelected"
          :indeterminate="indeterminate"
          aria-describedby="tags"
          aria-controls="tags"
          @change="toggleAll"
        >{{ allSelected ? '選択解除' : '全て選択' }}</b-form-checkbox>
      </template>

      <b-form-checkbox-group
        id="flavors"
        v-model="selected"
        :options="options"
        name="options"
        class="ml-4"
        aria-label="個々のタグ"
      ></b-form-checkbox-group>
    </b-form-group>

    <!-- 記事一覧テーブル -->
    <b-table hover :items="filteredBlogs" :fields="fields" @row-clicked="rowSelected"></b-table>
  </b-container>
</template>

<script>
import { createClient } from "~/plugins/contentful.js";
const client = createClient();
export default {
  data() {
    return {
      selected: [],
      options: [],
      allSelected: false,
      indeterminate: false
    };
  },
  created() {
    this.selected = this.options;
  },
  head() {
    return {
      title: "ブログ",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "気づいたことなどを徒然なるままに"
        }
      ]
    };
  },
  computed: {
    filteredBlogs() {
      return this.blogs.filter(b => {
        return b.tags.some(t => this.selected.indexOf(t) >= 0);
      });
    }
  },
  methods: {
    toggleAll(checked) {
      this.selected = checked ? this.options.slice() : [];
    },
    rowSelected(items) {
      this.$router.push("/blog/" + items.id);
    }
  },
  watch: {
    selected(newVal, oldVal) {
      // Handle changes in individual flavour checkboxes
      if (newVal.length === 0) {
        this.indeterminate = false;
        this.allSelected = false;
      } else if (newVal.length === this.options.length) {
        this.indeterminate = false;
        this.allSelected = true;
      } else {
        this.indeterminate = true;
        this.allSelected = false;
      }
    }
  },
  asyncData({ env }) {
    return client
      .getEntries({ content_type: "blog", limit: 200, order: "-sys.createdAt" })
      .then(r => {
        var blogs = [];
        var allTags = {};
        r.items.forEach(e => {
          var tags = [];
          if (e.fields.tags && e.fields.tags.length > 0) {
            e.fields.tags[0].split(",").forEach(s => {
              var tag = s.trim();
              allTags[tag] = true;
              tags.push(tag);
            });
          }
          var src = e.fields.coverPicture
            ? e.fields.coverPicture.fields.file.url
            : null;
          var date = new Date(e.sys.createdAt).toLocaleDateString();
          blogs.push({
            id: e.sys.id,
            ...e.fields,
            imgSrc: src,
            date: date,
            tags: tags
          });
        });

        var options = [];
        for (var k in allTags) {
          options.push(k);
        }
        return {
          fields: [
            {
              key: "date",
              label: "日付",
              sortable: true
            },
            {
              key: "title",
              label: "タイトル"
            }
            // {
            //   key: "button",
            //   label: "詳細"
            // }
          ],
          blogs: blogs,
          options: options
        };
      });
  }
};
</script>
