<template>
  <b-container class="mt-5">
    <div class="h1">2020年からのプログラミング教育必修化に向けて</div>
    <div class="h2">～Computer Science School for Next Generation～</div>

    <p>海外でのプログラミング教育は、コンピューターサイエンス教育の一環として行われていることをご存知でしょうか。</p>
    <p>FC∞KIDsでは、プログラミング教育とあわせて、ネットワークやコンピューティングシステム・リテラシーも含めた総合的なコンピューターサイエンス教育を行い、コンピュータを使用した幅広い問題解決能力を学びます。</p>

    <h2>対象年齢</h2>
    <p>小学生〜高校生</p>

    <h2>主な学習内容</h2>
    <ul>
      <li>Scratch(3.0対応)</li>
      <li>Minecraft(コマンド、レッドストーン、Makecode、Mod/プラグイン開発)</li>
      <li>micro:bit（新エディタ対応）</li>
      <li>テキスト言語（HTML・Python・C・C#・Java・Arduinoなど)</li>
      <li>その他、ご要望に応じて柔軟に対応しますので、お気軽にご相談ください。</li>
    </ul>

    <div class="h1">∞（インフィニティ=無限大）</div>
    <div class="h2">〜期間的にも内容的にも無限に学べるスクールを目指して〜</div>

    <ol>
      <li>Scratch・マインクラフトから本格テキスト言語まで、なんでも学べるスクールです。
          Scratchやロボットプログラミングなどを学び終えたお子さまにも最適です。</li>
      <li>個別指導形式(講師1名につき3〜4人)と講義形式を併用。様々な個性をもつお子さんや学びたい内容に柔軟に対応します。</li>
      <li>書籍執筆等の実績・専門知識をもつエンジニア出身の講師が授業を担当します。</li>
    </ol>
  </b-container>
</template>
