<template>
  <b-container class="my-5">
    <h1 class="text-center my-5">実践的なスキル習得を目指して</h1>
    <div class="row">
      <div class="col-12 col-sm-8">
        <div>
          プログラミング学習のきっかけはさまざまです。
          <ul>
            <li>就職・転職に有利なスキルを習得したい</li>
            <li>副業につながる技術を習得したい</li>
            <li>学校の授業でよい成績をとりたい</li>
            <li>趣味として色々つくってみたい</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-4">
      </div>
      <div class="col-12">
          みなさまの目的を達成するお手伝いをさせて頂きます。
          「プログラミングは楽しいアクティビティだ」ということを伝えるとともに、
          「自分のイメージしたものを形にする楽しさ」を体験をしてほしいと思っています。
      </div>
      <div class="col-12 text-center m-3">
        <img src="/images/senior1.jpg" class="img-fluid rounded shadow" alt="senior1">
      </div>
    </div>


    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">授業の特徴</span>
      </b-col>
    </b-row>

    <b-row class="mt-3">
      <b-col cols="2" class="text-center">
        <font-awesome-icon class="icon" icon="chalkboard-teacher"/>
      </b-col>
      <b-col cols="10">
        <h4 class="text-primary">少人数の個別指導形式</h4>レッスンは最大４～５人までの少人数で行います。
        それぞれの方のペースに合わせてレッスンをおこなうため、周囲を気にせず安心して受講いただけます。
        開発現場での豊富な経験を持つ講師が担当します。
      </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col cols="2" class="text-center">
        <font-awesome-icon class="icon" icon="laptop-code"/>
      </b-col>
      <b-col cols="10">
        <h4 class="text-primary">手を動かしての試行錯誤</h4>本を読んだだけで水泳は習得できません。ゴルフもコースにでてプレイしないと上達しません。
        プログラミングも同じです。手を動かして試行錯誤し、できたときの達成感を味っていただきたいと考えます。
      </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col cols="2" class="text-center">
        <font-awesome-icon class="icon" icon="university"/>
      </b-col>
      <b-col cols="10">
        <h4 class="text-primary">基礎を重視</h4>いろいろなプログラミング言語がありますが、根っこの部分は多くの言語で共通しています。
        「変数、四則演算、for文、if文、配列、クラス…」といったどの言語でも必要となる概念を習得し、
        その後でいろいろな分野に進んでいくのが良いと考えています。
        遠回りのように見えるかもしれませんが、結局はこれが最短な経路となります。
      </b-col>
    </b-row>

    <b-row class="text-center my-5">
      <b-col cols="12" class="h2">
        <span class="category">対象</span>
      </b-col>
      <b-col>小学生～70歳代、初心者～プロまで幅広い方々に通学頂いています</b-col>
    </b-row>

    <div role="tablist">
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-1 variant="Light">プログラミングは初めての方</b-button>
        </b-card-header>
        <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
          <b-card-body>
              プログラミング初心者の方にはProcessingをお勧めしています。
              ProcessingはMITメディアラボでアーティストのコンテンツ制作用に開発されたこともあり、わかりやすく、
              最初にプログラミングに触れるにはとても良い環境です。
              とはいえ、使用する言語はPython、Javaといった本格的な言語です。
              何事もまず基礎が大切です。ドリル形式で以下のような項目について学習します。
              <ul>
                <li>データ型 = 変数、配列、二次元配列、リスト、辞書…</li>
                <li>制御構造 = if文、for文、関数…</li>
                <li>オブジェクト = クラス、メソッド、プロパティ…</li>
                <li>入出力 = 画面への描画、イベント</li>
              </ul>基礎が習得できたら、自分の興味・必要性に応じて次のステップを相談して決めてゆきます。
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-2 variant="Light">少しプログラミングに触れた方</b-button>
        </b-card-header>
        <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <ul>
              <li>自分で学習したものの途中で挫折した</li>
              <li>業務で使っているものの中身がよくわかっていない</li>
              <li>ワンランク上を目指したい</li>
            </ul>さまざまなケースがありますが、一番多いケースです。
            Processingを使ってPythonもしくはJavaの基礎を固めた後に、希望をお伺いしながらコースを設定しています。
              
            <br/><br/>
              ある程度基礎が身に付いた生徒の方では以下のような取り組みをされていらっしゃる方がいます。
            <ul>
              <li>Vue.jsを使って簿記や決済のインタラクティブ学習サイトの構築</li>
              <li>RaspberryPI上でJuliusを使って音声認識</li>
              <li>MicrosoftのCognitive Service API（画像認識や文字認識）を使ったサービス構築</li>
              <li>...</li>
            </ul>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-3 variant="Light">ホームページを作りたい方</b-button>
        </b-card-header>
        <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            ホームページが作れるようになりたいという方にも受講いただいております。
            先ずはHTML/CSSを使ってページを作成するところから始め、
            Bootstrapを使ったページ、WordPressのインストール・カスタマイズと進んでゆきます。
            JavaScriptやjQueryなどを使って動きのあるページの実装も行います。
            ある程度のレベルに達するとプログラミングが必要になるので、
            その際はProcessingによる基礎習得・もしくはJavaScriptの基礎から学習することをお勧めしています。

            2年目の生徒様の中には、店舗のホームページをVue.js+Bootstrapで構築してHeroku上で公開されている方もいらっしゃいます。
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-4 variant="Light">既に開発経験がある方</b-button>
        </b-card-header>
        <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
          <b-card-body>対応できる分野とそうでない分野がありますので、最初にいろいろお話をお伺いしたうえで当教室がご期待に沿えるかどうかご判断いただいております。</b-card-body>
        </b-collapse>
      </b-card>
    </div>

    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">システム</span>
      </b-col>
    <b-table stacked :items="items"></b-table>
    <b-col cols="12" text-center>
    <img src="/images/senior2.jpg" class="img-fluid rounded shadow" alt="senior2">

    </b-col>
    </b-row>


    <b-row class="text-center mt-5">
      <b-col cols="12" class="h2">
        <span class="category">コースマップ</span>
      </b-col>
    </b-row>
    <b-row class="justify-content-center">
      <b-col cols="12" class="text-center">
        <b-img src="/images/CourseMap.svg" class="image-fluid" alt="coursemap"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  head(){
    return {
      title: 'シニアコース',
      meta: [
        { hid: 'description', name: 'description', content: 'シニアコースのシステム・料金・コースマップ' },
      ]
    }
  },  
  data() {
    return {
      items: [
        {
          入会金: "10000円（税別）",
          月謝: "16000円（税別）",
          回数: "月３回 (1回90分)"
        }
      ]
    };
  }
};
</script>


<style scoped>
.icon {
  font-size: 50px;
}
</style>
