<template>
  <div>
    <carousel/>
    <vision/>
    <courses/>
    <StudentWork/>
    <contact-us/>
    <voices/>
    <time-table/>
    
    <blogs v-bind:blogs="blogs"/>
    <books v-bind:books="books"/>
    <teachers/>
    <!-- <samples v-bind:samples="samples"/> -->
    <faq/>
    <!-- <theta-view/> -->
    <iframe id="access" title="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d354.73278897692444!2d139.65591824569293!3d35.56459786683426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x312c1fbf687137c1!2sFuture+Coders!5e0!3m2!1sja!2sjp!4v1561903274034!5m2!1sja!2sjp" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <my-footer/>
  </div>
</template>

<script>
import { createClient } from "~/plugins/contentful.js";
const client = createClient();

import Carousel from "@/components/Carousel";
import Vision from "@/components/Vision";
import Courses from "@/components/Courses";
import TimeTable from "@/components/TimeTable";
import Books from "@/components/Books";
import Teachers from "@/components/Teachers";
import Samples from "@/components/Samples";
import Faq from "@/components/Faq";
import MyFooter from "@/components/MyFooter";
import ContactUs from "@/components/ContactUs";
import ThetaView from "@/components/ThetaView";
import Blogs from "@/components/Blogs";
import Voices from "@/components/Voices";
import Greeting from "@/components/Greeting";
import StudentWork from "@/components/StudentWork";

export default {
  components: {
    Carousel,
    Vision,
    Courses,
    TimeTable,
    Books,
    Teachers,
    Samples,
    Faq,
    MyFooter,
    ContactUs,
    ThetaView,
    Blogs,
    Voices,
    Greeting,
    StudentWork
  },

  asyncData({ env }) {
    return Promise.all([
      client.getEntries({
        content_type: "book",
        order: "-fields.publicationDate"
      }),
      client.getEntries({
        content_type: "blog",
        limit: 9,
        order: "-sys.createdAt"
      }),
      client.getEntries({ content_type: "sample" })
    ])
      .then(([books, blogs, samples]) => {
        var tmpbooks = [],
          tmpblogs = [],
          tmpsamples = [];

        books.items.forEach(e => {
          tmpbooks.push({
            ...e.fields,
            coverImage: e.fields.coverImage.fields
          });
        });

        blogs.items.forEach(e => {
          var src = e.fields.coverPicture
            ? e.fields.coverPicture.fields.file.url
            : null;
          var date = new Date(e.sys.createdAt).toDateString();
          tmpblogs.push({ id: e.sys.id, ...e.fields, imgSrc: src, date: date });
        });

        samples.items.forEach(e => {
          var src = e.fields.screenCapture
            ? e.fields.screenCapture.fields.file.url
            : null;
          tmpsamples.push({ id: e.sys.id, ...e.fields, imgSrc: src });
        });
        return { blogs: tmpblogs, books: tmpbooks, samples: tmpsamples };
      })
      .catch(console.error);
  }
};
</script>
